HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/logs/
/data/
/bin/
contest.log
*.gz
src/main/resources/static/pic/course_primary/22342661573745e1850a6be181f99a1a.jpg
src/main/resources/static/pic/course_primary/227c6956f44941ff99beb2a86c0e30f8.jpg
src/main/resources/static/pic/course_primary/c685ee1fb8a44673b44bef2f08adbb0a.jpg
src/main/resources/static/pic/course_primary/f8a2b00707fb4bfcb3e01a087265b727.jpg
src/main/resources/static/pic/course_primary/fb49bb74caa44e1f9ec6dba991327464.jpg
src/main/resources/static/pic/course_primary/10350153d6d3372130.jpg
src/main/resources/static/pic/course_primary/10350153d6d3372130.jpg
*.mp4
