* {
    margin: 0;
    padding: 0;
}
.large-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}
.navBox {
	z-index: 1001;
    width: 100%;
    position: absolute;
}
.navCont{
    font-size: 26px;
    float: left;
    margin: 10px 20px;
}
.navCont a{
    color: #fff;
   
}
.rt {
    float: right;
}
.rightCont {
    margin-top: 18px;
    width: 400px;
}
.rightCont a{
    font-size: 16px;
    color: #fff;
}

.navItemList li
{
    display: inline;
    list-style: none;
    margin-left: 20px;
}
/* .navIconList {
    width: 100px;
    margin-top: -8px

} */
/* .navIconList li{
    display: inline;
    list-style: none;
} */
/* .navIconList .soBtnIcon{
    display: block;
    overflow: hidden;
    text-indent: -2000px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 50px;

} */
/* .navIconList .SoBtn {
    cursor: pointer;
} */
#search {
    background-image: url("../img/so.png");
}
#user {
    background-image: url("../img/user.png");
}
.lf{
    float: left;
}
.sidebarWra {
    position: fixed;
    right: 0;
    bottom: 190px;
    z-index: 999;
}
.sidebar {
    float: right;
}
.kefu.show {
    
    color: #fff;
}
.sidebar li{
    background: rgba(200, 200, 200, 9);
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 46px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: .4s all ease;
    list-style: none;
    font-size: 22px;
}
.icon-kefu1:before {
    content: "\260f";
}
.whiteKefuWra {
    left: -209px;
    width: 209px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
  	background-color: #007cb8;
}
.kefuInfo {
    width: 202px;
    text-align: left;
    position: relative;
}
.kefuInfo span {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.iconfont {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    padding: 5px 0 0 26px;
}
.telNum {
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 5px 0 0 36px;
}
.whiteWechatWra {
	left: -194px;
	width: 194px;
	text-align: left;
	position: absolute;
    top: 0;
    background: rgba(0,0,0,0);
}
.whiteWechatWra img {
	width: 187px;
	vertical-align: top;
	border-style: none;
}

.banner {
	height: 100%;
    max-width: 1920px;
    margin: 0px auto;
    width: 100%;
    position: absolute;
}
.swiperbox {
	max-width: 1320px;
	height: 100%;
	margin: 0px auto;
	position: relative;
}
.swiperbox-con {
    max-width: 1320px;
    height: 100%;
    margin: 0 50px;
    position: relative;
}
.banner-m {
    top:50%;
    transform: translateY(-50%);
}
.banner-l {
    left: 0;
}
.bannerchild {
    position: absolute;
    width: 100%;
}
.hero-title {
    color: #fff;
    width: 70%
}
.intro-title {
    color: #ddd;
    width: 70%;
    font-family: inherit;
    line-height: 1.6;
    margin-top: 20px;
    margin-left: 38px;
}
.ntalker .nt-ui-chat-wrapper {
	width: 500px;
	height: 536px; 
	position: fixed;
	right: 0;
	top: 60px; 
    left: 360px; 
	border-radius: 8px;"
    bottom: 0;
    z-index: 300000;
    background: #fff;
    box-shadow: 0 0 10px #928080;
    border-radius: 8px;
    box-sizing: content-box;
}
.ntalker .nt-ui-chat-header-wrapper {
	width: auto;
    height: 50px;
    background: #06a9f4;
}
.ntalker .nt-ui-wrapper {
	position: relative;
}
.ntalker .icon-minimize {
	font-size: 36px;
}
.ntalker .nt-ui-chat-header-kefuLogo-image {
	margin: 5px 10px auto 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    background: transparent;
}
.ntalker .nt-ui-image {
	display: inline;
    max-width: 100%;
    -webkit-user-select: none;
}
.ntalker * {
    margin: 0;
    padding: 0;
    text-align: left;
    box-sizing: border-box;
    vertical-align: initial;
    font-size: 14px;
    font-weight: 400;
    font-family: Microsoft YaHei;
    line-height: normal;
}
img {
    border-style: none;
}
.ntalker .nt-ui-chat-header-middle-wrapper {
    position: absolute;
    left: 64px;
    top: 0;
    display: table;
    width: 80%;
    height: 50px;
}
.ntalker .nt-ui-chat-header-inner-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.ntalker .nt-ui-chat-header-kefuName-text {
    display: block;
    width: auto;
    max-width: 400px;
    color: #a0e1ff;
}
.ntalker .nt-ui-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ntalker .nt-ui-chat-header-kefuSignature-text {
    display: block;
    width: 400px;
    color: #a0e1ff;
    font-size: 12px;
    cursor: pointer;
    transform: scale(.8) translateX(-50px);
}
.ntalker #chat-mainsection-messagebox-iscroll {
    position: relative;
    width: 480px;
    height: 266px;
    /* 这里更改聊天历史是否可以滚动 */
    overflow: auto;
    background: #fafafa;
}
.ntalker .nt-ui-chat-mainsection-toolbar-wrapper {
    height: 40px;
    position: relative;
}
.ntalker .nt-ui-chat-mainsection-textarea-wrapper {
    width: 100%;
    height: 114px;
    overflow: hidden;
    background: #fafafa;
}
.ntalker .nt-ui-chat-mainsection-textarea-placeholder {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    color: #999;
    background: #fafafa;
    font-size: 12px;
    border: none;
    outline: none;
}

.ntalker .nt-ui-chat-mainsection-bottom-support {
    width: 60%;
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 0;
    color: #666;
    height: 30px;
    line-height: 30px;
}
.ntalker .nt-ui-chat-mainsection-bottom-support {
    width: 60%;
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 0;
    color: #666;
    height: 30px;
    line-height: 30px;
}
.ntalker .nt-ui-chat-mainsection-bottom-closeButton-button {
    width: 80px;
    height: 30px;
    color: #000;
    background: #eee;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
}
.ntalker .nt-ui-chat-mainsection-bottom-wrapper {
    width: 100%;
    padding: 12px 0 14px;
    text-align: right;
}
.ntalker .nt-ui-chat-mainsection-bottom-support {
    width: 60%;
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 0;
    color: #666;
    height: 30px;
    line-height: 30px;
}
.ntalker .nt-ui-chat-mainsection-bottom-sendButton-button {
    width: 80px;
    height: 30px;
    color: #fff;
    background: #4fc8ff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    right: 6px;
}
.ntalker .nt-ui-button, .ntalker .nt-ui-icon {
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.ntalker .nt-ui-chat-header-close-icon {
    position: absolute;
    padding: 4px;
    top: 6px;
    right: 7px;
    font-size: 28px;
    color: #fff;
    /* 不设置font-family, awesome font会显示不出来 */
    font-family: FontAwesome;
}
#chat-mainsection-messagebox-iscroll .kefu_chat_icon {
	width: 32px;
}
#chat-mainsection-messagebox-iscroll .chat_span {
	margin: 5px 5px;
}

.user_chat{
	text-align:right;
}
.user_chat span{
	background-color: #84cffd;
	border-radius: 5px;
}
.nt-ui-minimum-wrapper {
	display: none;
    width: 150px;
    height: 56px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
    cursor: pointer;
    z-index: 100000000000000000;
}
.nt-ui-minimum-kefuLogo-image {
	margin: 5px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.nt-ui-minimum-kefuName-text{
	float: right;
	display: inline-block;
    height: 56px;
    line-height: 56px;
    max-width: 94px;
    color: #666;
    font-size: 12px;
}