<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>问题添加页面</title>
<link th:href="@{/css/bootstrap-3.3.5.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap-3.3.5.js}"></script>

<!-- include summernote css/js -->
<link th:href="@{/summernote-dist/summernote.css}" rel="stylesheet">
<script th:src="@{/summernote-dist/summernote.js}"></script>
<script>
		function ProblemModel(input, output, description) {
			this.input = input;
			this.output = output;
			this.description = description;
		}

		$(document).ready(function() {
			
			$('#save').bind("click",function(){
				/* 得到问题描述html */
				var str_problem_description = $('#problem_description').summernote(
						'code');
				/* 得到问题输入和输出 */
				//	var array_problem_input_output = $('.problem_input_output');
				/* 	$.each(array_problem_input_output,function(index, value){
						console.log(index + "--->" + $(value).summernote('code'));
					});  */

				//console.log(str_problem_description);
				//$('#problem_description').summernote('destroy');
				/* 	var str_problem_input = $('#problem_input').summernote('code');
					var str_problem_outputput =$('#problem_output').summernote('code'); */

				var str_problem_input = $('#problem_input').val();
				var str_problem_output = $('#problem_output').val();

				var problemModel = new ProblemModel(str_problem_input,
						str_problem_output, str_problem_description);
				//			console.log(problemModel); 
				console.log(JSON.stringify(problemModel));
			});
			
			$('#problem_description').summernote({
				height : 300, // set editor height
				minHeight : null, // set minimum height of editor
				maxHeight : null, // set maximum height of editor
				focus : true
			// set focus to editable area after initializing summernote
			});
			/* $('.problem_input_output').summernote({
				toolbar:[]
			}); */
		});

	
	</script>
</head>
<body style="margin-left: 300px; margin-right: 300px; margin-top: 10px;">
	<div class="form-group">
		<label for="title">问题标题</label> <input type="text"
			class="form-control" id="title" placeholder="请输入标题">
	</div>
	<form role="form">
		<div class="form-group">
			<div id="problem_description">在此添加问题描述...</div>
		</div>
		<!-- <div id="problem_input" class="problem_input_output">问题输入</div>
	<div id="problem_output" class="problem_input_output">问题输出</div> -->
		<div class="form-group">
			<label for="problem_input">输入</label>
			<textarea name="" id="problem_input" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="problem_output">输出</label>
			<textarea name="" id="problem_output" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<button id="save" class="btn btn-primary" type="button">提交問題</button>
		</div>
	</form>

</body>
</html>