<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>问题添加页面</title>
<link th:href="@{/css/bootstrap-3.3.5.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap-3.3.5.js}"></script>

<!-- include summernote css/js -->
<link th:href="@{/summernote-dist/summernote.css}" rel="stylesheet">
<script th:src="@{/summernote-dist/summernote.js}"></script>

<script th:src="@{/js/add_problem.js}"></script>

</head>
<body style="margin-left: 300px; margin-right: 300px; margin-top: 10px;">
	<div class="form-group">
		<label for="title">问题标题</label> <input type="text"
			class="form-control" id="title" placeholder="请输入标题">
	</div>
	<form id="prob_form" role="form">
		<div class="form-group">
			<div id="problem_description"></div>
		</div>
		<!-- <div id="problem_input" class="problem_input_output">问题输入</div>
	<div id="problem_output" class="problem_input_output">问题输出</div> -->
		<div class="form-group">
			<label for="problem_input">输入</label>
			<textarea name="" id="problem_input" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="problem_output">输出</label>
			<textarea name="" id="problem_output" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="problem_explanation">输入输出解释</label>
			<textarea name="" id="problem_explanation" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<button id="save" class="btn btn-primary" type="button">提交問題</button>
		</div>
	</form>

</body>
</html>