<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>softcits</title>
<link th:href="@{/css/bootstrap-3.3.5.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap-3.3.5.js}"></script>
<!-- include summernote css/js -->
<link th:href="@{/summernote-dist/summernote.css}" rel="stylesheet">
<script th:src="@{/summernote-dist/summernote.js}"></script>
<script th:src="@{/js/main_problem.js}"></script>
<script th:src="@{/js/add_footer.js}"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SOFTCITS</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="#">编程练习</a></li>
					<li><a href="#">练习情况</a></li>
					<li><a href="#">进入论坛</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><span class="glyphicon glyphicon-user">
								wangzhen_tju@126.com <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">xxxx</a></li>
							<li><a href="#">xxxx</a></li>
							<li class="divider"></li>
							<li><a href="#">分离的链接</a></li>
						</ul></li>
				</ul>


			</div>
		</div>
	</nav>
	<div class="container">
		
			<p class="strong text-left text-primary">Pratice > Java</p>
		
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-9 col-sm-9 col-lg-9">
				<div id="content">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-lg-3">
				<label for="name">状态</label>
				<div class="checkbox">
					<label><input type="checkbox" value="">已解决</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">未解决</label>
				</div>

				<hr style="border: 1 dashed #987cb9" width="100%" color="#987cb9"
					size=1>
				<label for="name">难度</label>
				<div class="checkbox">
					<input type="radio" name="optionsRadios" id="optionsRadios1"
						value="option1" checked>简单</label>
				</div>
				<div class="checkbox">
					<input type="radio" name="optionsRadios" id="optionsRadios2"
						value="option2">中等</label>
				</div>
				<div class="checkbox">
					<input type="radio" name="optionsRadios" id="optionsRadios3"
						value="option3">困难</label>
				</div>
				<hr style="border: 1 dashed #987cb9" width="100%" color="#987cb9"
					size=1>
				<label for="name">类别</label>
				<div class="checkbox">
					<label><input type="checkbox" value="">Introduction</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Strings</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">BigNumber</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Data
						Structures</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Object
						Oriented Programming</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Exception
						Handling</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Advanced</label>
				</div>
			</div>
		</div>
	</div>
<div id="footer"></div>
</body>
</html>