<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<!-- 解决ajax POST被springsecurity误伤 -->
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>softcits</title>
<link th:href="@{/css/bootstrap-3.3.5.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap-3.3.5.js}"></script>
<!-- include summernote css/js -->
<link th:href="@{/summernote-dist/summernote.css}" rel="stylesheet">
<script th:src="@{/summernote-dist/summernote.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/add_footer.js}"></script>
<script th:src="@{/js/add_course.js}"></script>
<link th:href="@{/css/jsswitch.css}" rel="stylesheet">

</head>
<body>

	<input id="isAdmin" type="hidden" th:value="${admin}">

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/portal}">SOFTCITS</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="#">编程练习</a></li>
					<li><a href="#">练习情况</a></li>
					<li><a href="#">进入论坛</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/mgt/addproblem}" style="color: #FF0033">新增问题</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						id="course_mgt_btn" href="#" style="color: #FF0033" class="dropdown-toggle"
						data-toggle="dropdown">管理课程<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a id="course_add_btn" href="#" style="color: #FF0033" >增加课程</a></li>
							<li><a id="course_list_btn" href="#" style="color: #FF0033">课程列表</a></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>&nbsp;
							<span th:text="${username}"></span>&nbsp; <b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a href="#">xxxx</a></li>
							<li><a href="#">xxxx</a></li>
							<li class="divider"></li>
							<li>
								<form th:action="@{/logout}" method="post">
									<input type="submit"
										style="border: none; cursor: pointer; width: 100%; height: 100%;"
										class="btn btn-default" value="退出登录" />
								</form>
							</li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">

		<div class="row">

			<div class="col-md-10 col-sm-10 col-lg-10">
				<div id="content"></div>
			</div>
			<div class="col-md-2 col-sm-2 col-lg-2">
				<div id="sidebar">
					<label for="name">状态</label>
					<div class="checkbox">
						<label><input type="checkbox" value="1"
							class="solve_problem_state" checked>已解决</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="2"
							class="solve_problem_state" checked>未解决</label>
					</div>

					<hr style="border: 1 dashed #987cb9" width="100%" color="#987cb9"
						size=1>
					<label for="name">难度</label>
					<div class="checkbox">
						<input type="radio" name="optionsRadios" id="optionsRadios1"
							value="option1" checked>简单
					</div>
					<div class="checkbox">
						<input type="radio" name="optionsRadios" id="optionsRadios2"
							value="option2">中等
					</div>
					<div class="checkbox">
						<input type="radio" name="optionsRadios" id="optionsRadios3"
							value="option3">困难
					</div>
					<hr style="border: 1 dashed #987cb9" width="100%" color="#987cb9"
						size=1>
					<label for="name">类别</label>
					<div class="checkbox">
						<label><input type="checkbox" value="">Introduction</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Strings</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">BigNumber</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Data
							Structures</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Object
							Oriented Programming</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Exception
							Handling</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="">Advanced</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 模态框（Modal）增加case -->
	<div class="modal fade" id="case_add_modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">增加CASE</h4>
				</div>
				<div class="modal-body">
					<div style="padding: 10px 10px 10px;">
						<form class="bs-example bs-example-form" role="form"
							id="case_form">
							<!-- 用于存储problem id -->
							<input type="hidden" id="problem_id" name="fid" value="">
							<div class="input-group">
								<span class="input-group-addon">输入</span>
								<textarea class="form-control" id="case_input" name="input"
									style="resize: none"></textarea>
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon">输出</span>
								<textarea class="form-control" id="case_output" name="output"
									style="resize: none"></textarea>
							</div>
							<br>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary"
						onClick="case_add_submit()">提交CASE</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	
	<!-- 模态框 增加课程信息 -->
	<div class="modal fade" id="course_intro_add_model" tabindex="-1" role="dialog"
		aria-labelledby="introModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="introModalLabel">课程信息</h4>
					</div>
					<div class="modal-body">
							<form class="bs-example bs-example-form" role="form"
								id="course_intro_form">
								<!-- 用于存储course id -->
								<input type="hidden" id="course_id" name="course_id" value="" >
								<div class="input-group">
									<span class="input-group-addon">课程介绍</span>
									<textarea class="form-control" id="course_intro_input" name="input"
										style="resize: none" rows="10"></textarea>
								</div>
							</form>
					</div>
			
					<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" onClick="course_intro_add_submit()">提交</button>
					</div>
			</div>
		</div>
	</div>
	
	<div id="footer"></div>
</body>
</html>