<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" th:href="@{/css/bootstrap-3.3.5.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/portal.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/js/bootstrap-3.3.5.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/portal.js}"></script>
<title>软件园IT沙龙</title>
</head>
<body>
	<div class="navBox">
		<div class="navCont lf">
			<a href="#"> SOFTCITS </a>
		</div>
		<div class="rightCont rt">
			<ul class="navItemList lf">
				<li class="navEleBtn"><a class="pointer" href="/contest/course">课程介绍</a></li>
				<li class="navEleBtn"><a class="pointer" href="/contest/main">培训系统</a></li>
				<li class="navEleBtn"><a class="pointer" href="#">进入论坛</a></li>
			</ul>
			<!-- <ul class="navIconList rt">
				<li class="SoBtn"><span class="soBtnIcon" id="user">xxxxxxxxxxx</span>
				</li>
			</ul> -->
		</div>
	</div>
	<div class="banner">
		<div class="banbg-img">
			<img class="large-bg" th:src="@{/img/body-background.jpg}">
		</div>
		<div class="swiperbox">
			<div class="swiperbox-con swiper1">
				<div class="bannerchild banner-l banner-m">
					<h1 class="hero-title">提供专业IT培训服务</h1>
					<p class="intro-title">为学员个性化打造职业生涯,助力您的全方面能力成长</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 侧边栏 -->
	<div class="sidebarWra">
		<ul class="sidebar">
			<li class="kefu show"><span class="icon-kefu1"> </span>
				<div class="whiteKefuWra" id="whiteKefuWra">
					<selection class="kefuInfo">
					<div style="cursor: default;">
						<span class="iconfont">免费IT职业规划</span> 
						<i class="telNum">18042697219</i>
						<i class="telNum">15940953629</i>
					</div>
					</selection>
				</div></li>
			<li class="weixin show"><span class="icon-weixin1 fa fa-wechat">
			</span>
				<div class="whiteWechatWra" id="whiteWechatWra">
					<img th:src="@{/img/wan_girl_wechat.png}" alt="微信二维码">
					<img th:src="@{/img/mark_boy_wechat.png}" alt="微信二维码">
				</div></li>
		</ul>
	</div>

	<div class="ntalker">

		<div id="nt-ui-chat-wrapper" class="nt-ui-chat-wrapper">
			<!-- 聊天弹框上部 -->
			<div class="nt-ui-wrapper  nt-ui-chat-header-wrapper"
				style="cursor: move; border-radius: 8px 8px 0px 0px;">
				<img class="nt-ui-image nt-ui-chat-header-kefuLogo-image"
					th:src="@{/img/default_kefu.png}">
				<div class="nt-ui-wrapper  nt-ui-chat-header-middle-wrapper">
					<div class="nt-ui-wrapper  nt-ui-chat-header-inner-wrapper">
						<span class="nt-ui-text nt-ui-chat-header-kefuName-text">SOFTCITS客服中心</span>
					</div>
				</div>
				<span id="chat-header-close-icon"
					class="fa fa-angle-double-down nt-ui-chat-header-close-icon"></span>
			</div>

			<!-- 聊天弹框显示聊天历史 -->
			<div class="nt-ui-wrapper nt-ui-chat-mainsection-wrapper">
				<div
					class="nt-ui-wrapper  nt-ui-chat-mainsection-messagebox-iscroll"
					id="chat-mainsection-messagebox-iscroll"></div>
			</div>
			<!-- 聊天上下分割条 -->
			<div class="nt-ui-wrapper  nt-ui-chat-mainsection-toolbar-wrapper">
			</div>
			<div class="nt-ui-wrapper  nt-ui-chat-mainsection-textarea-wrapper">
				<div id="nt-ui-send-message-textarea"
					class="nt-ui-draft nt-ui-chat-mainsection-textarea-placeholder"
					contenteditable="true">我想说…</div>
			</div>
			<!-- 关闭、发送 -->
			<div class="nt-ui-wrapper  nt-ui-chat-mainsection-bottom-wrapper">
				<div class="nt-ui-wrapper  nt-ui-chat-mainsection-bottom-support">
				</div>
				<button id="chat-mainsection-bottom-closeButton"
					class="nt-ui-button nt-ui-chat-mainsection-bottom-closeButton-button">
					关闭</button>
				<button id="chat_send_button"
					class="nt-ui-button nt-ui-chat-mainsection-bottom-sendButton-button">
					发送</button>
			</div>
		</div>

	</div>

	<div id="nt-ui-minimum-wrapper"
		class="nt-ui-wrapper  nt-ui-minimum-wrapper">
		<img class="nt-ui-image nt-ui-minimum-kefuLogo-image"
			th:src="@{/img/default_kefu.png}"> <span
			class="nt-ui-text nt-ui-minimum-kefuName-text">SOFTCITS客服中心</span>
	</div>
</body>
</html>