<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${problemAttr.title}"></title>
<link th:href="@{/css/bootstrap-3.3.5.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap-3.3.5.js}"></script>

<!-- include summernote css/js -->
<link th:href="@{/summernote-dist/summernote.css}" rel="stylesheet">
<script th:src="@{/summernote-dist/summernote.js}"></script>

<script th:src="@{/js/problem.js}"></script>
<script th:src="@{/js/add_footer.js}"></script>

</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SOFTCITS</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="#">编程练习</a></li>
					<li><a href="#">练习情况</a></li>
					<li><a href="#">进入论坛</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><span class="glyphicon glyphicon-user">
								wangzhen_tju@126.com <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">xxxx</a></li>
							<li><a href="#">xxxx</a></li>
							<li class="divider"></li>
							<li><a href="#">分离的链接</a></li>
						</ul></li>
				</ul>


			</div>
		</div>
	</nav>
	<div class="container">

		<p class="strong text-left text-primary">Pratice > Java</p>

	</div>


	<div class="container">

		<div class="row">
			<div class="col-md-9 col-sm-9 col-lg-9">
				<ul id="problemTab" class="nav nav-tabs">
					<li class="active"><a href="#home" data-toggle="tab"> 问题描述</a></li>
					<li><a href="#ios" data-toggle="tab">提交榜</a></li>

				</ul>
				<div id="problemTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="home">

<input id="problem_id" hidden="true" th:value="${problemAttr.id}"></input>
							
						<h2>
							<p th:utext="${problemAttr.title}"></p>
						</h2>

						<p th:utext="${problemAttr.description}"></p>

						<p
							style="border: 0px; font-weight: bolder; font-size: 15px; line-height: 2; margin-top: 5px; vertical-align: baseline;">Input</p>

						<p class="bg-info" th:utext="${problemAttr.input}"></p>

						<p
							style="border: 0px; font-weight: bolder; font-size: 15px; line-height: 2; margin-top: 5px; vertical-align: baseline;">Output</p>

						<p class="bg-info" th:utext="${problemAttr.output}"></p>

						<span style="border: 0px; font-weight: bolder; font-size: 15px; line-height: 2; margin-top: 5px; vertical-align: baseline;">Code:
						
						<button id="code_submit_btn" type="button" class="btn btn-primary pull-right">提交</button></span>

						<textarea id="code_textarea" style="width: 100%; resize: none; margin-top:5px; "></textarea>

					</div>
					<div class="tab-pane fade" id="ios">
						<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch
							和 Apple TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS
							是苹果的移动版本。</p>
					</div>

				</div>

			</div>
			<div class="col-md-3 col-sm-3 col-lg-3">xxxxxxxxxxxxxxxxxxxxx
				sssssssssssssssssssss</div>
		</div>
	</div>


	<div id="footer"></div>


</body>
</html>